{# _layout.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title> {{ seoTitle|trailingTitle }} </title>
    <meta name="description" content="{{ seoDescription }}"/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="{{siteUrl}}assets/images/favicon.png">
    <link rel="pngn" href="{{siteUrl}}assets/images/favicon.png">
 	  <link rel="stylesheet" type="text/css" href="{{siteUrl}}assets/styles/main.css">
</head>
<body>
<section>
  <div class="container">

    {% include 'partials/_header.twig' %}

    <div class="jumbotron">
      <h1>Jumbotron heading</h1>
      <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
    </div>

    <div class="row marketing">
      <div class="col-xs-12">
        {% block page %}{% endblock %}
      </div>
    </div>

    {% include 'partials/_footer.twig' %}

  </div> <!-- /container -->

  {% include 'partials/_scripts.twig' %}

</section>
</body>
</html>