{% extends "_layout.twig" %}

{% block page %}
<div class="row">
  {# Example of TWIG filters from data on a loop #}
  {% set size = ((benefits | length) / 2) | round(0, 'ceil') %}
  {% for column in benefits|batch(size , '') %}
  <div class="col-lg-6">
    {% for item in column %}
    <h4>{{item.title}}</h4>
    <p>{{item.content}}</p>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}