<div class="header clearfix">
  <h3 class="text-muted">Dative</h3>
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" {% if pageSegment('/') %}class="active"{% endif %}><a href="{{ siteUrl }}">Home</a></li>
      <li role="presentation" {% if pageSegment('/about') %}class="active"{% endif %}><a href="{{ siteUrl }}about">About</a></li>
      <li role="presentation" {% if pageSegment('/about/team') %}class="active"{% endif %}><a href="{{ siteUrl }}about/team">Team</a></li>
    </ul>
  </nav>
</div>