<script src="{{siteUrl}}assets/vendors/vendor-scripts.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{siteUrl}}assets/scripts/main.js" type="text/javascript" charset="utf-8"></script>